body {
  background-color: #79BD9A;
  color: #0B486B;
}

.container {
  margin: 20px 50px;
}

.header h1 {
  color: #0B486B;
  font-size: 2.75em;
  font-weight: bold;
}

.result-row {
  list-style: none;
  background-color: #A8DBA8;
  border-radius: 10px;
  margin: 15px 0;
}

#stream-results {
  padding: 0;
}

.channel-name-link {
  color: #4C9A71;
  font-size: 1.75em;
  font-weight: bold;
}

.channel-name-link:hover {
  color: #65B38B;
}

.channel-name-link:visited {
  color: #0B486B;
}

.data-logo {
  width: 100%;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
}
