body {
  background-color: #79BD9A;
  color: #0B486B;
}

h1 {
  color: #0B486B;
}

.channel-filters {
  margin-top: 36px;
  text-align: right;
}
.channel-filter {
  display: inline-block;
  margin-left: 12px;
}

.channel-status {
  font-style: italic;
}


#channels {
  list-style: none;
  padding: 0;
}

.channel .panel-title {
  color: #4C9A71;
}
.channel .panel-title:hover {
  color: #65B38B;
}

.channel-title {
  margin: 0;
}
